fastapi
uvicorn
sqlalchemy
python-multipart
pydantic
pytest
pyyaml
pytesseract
pdf2image
opencv-python
numpy
pandas
matplotlib
aiofiles
SQLAlchemy
psycopg2
openai
langchain
python-dotenv
pdfplumber
pdf2image
jsonschema
langchain
langchain-openai
langchain-groq
langchain-redis 
chromadb
tiktoken
langchain-community
chroma
redis    
